[versions]
agp = "8.1.2"
kotlin = "1.9.10"
compose = "1.5.3"
compose-compiler = "1.5.3"

[libraries]
compose-bom = { group = "androidx.compose", name = "compose-bom", version = "2023.10.00" }
compose-runtime = { module = "androidx.compose.runtime:runtime" }
compose-ui = { module = "androidx.compose.ui:ui" }
compose-tooling = { module = "androidx.compose.ui:ui-tooling" }
compose-foundation = { module = "androidx.compose.foundation:foundation" }
compose-material = { module = "androidx.compose.material:material" }

# Extended icon pack can not be found in the BOM currently. Version ref can be removed in the future.
compose-material-icons = { module = "androidx.compose.material:material-icons-extended", version.ref = "compose" }
compose-navigation = { module = "androidx.navigation:navigation-compose", version = "2.7.4" }

material = { module = "com.google.android.material:material", version = "1.10.0" }

# Temporarily required - Periodically reoccuring issue with multiplatform
atomicfu = { module = "org.jetbrains.kotlinx:atomicfu", version = "0.17.3" }

[plugins]
androidApplication = { id = "com.android.application", version.ref = "agp" }
androidLibrary = { id = "com.android.library", version.ref = "agp" }
composeMultiplatform = { id = "org.jetbrains.compose", version.ref = "compose" }
dokka = { id = "org.jetbrains.dokka", version = "1.9.0" }
kotlinAndroid = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
kotlinMultiplatform = { id = "org.jetbrains.kotlin.multiplatform", version.ref = "kotlin" }
publish = { id = "com.vanniktech.maven.publish", version = "0.25.3" }
